.App__Select {
  border: 1px solid rgb(41, 41, 41);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  height: 2rem;
  background-color: #fff;
  margin-right: 1rem;
}

.App__Select--error {
  border: 2px solid rgb(179, 3, 3);
}
